
.skill-section{
background:#2f3f4e;
padding:80px 0;
font-family:'Poppins', sans-serif;
}
.skill-title{
font-size:36px;
font-weight:600;
color:white;
position:relative;
}
.skill-title::after{
content:"";
width:70px;
height:4px;
background:linear-gradient(90deg,#4facfe,#00f2fe);
display:block;
margin:10px auto;
border-radius:4px;
}

.skill-container{
margin-top:40px;
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:20px;
}
.skill-box{
height:60px;
width:200px;
display:flex;
align-items:center;
justify-content:center;
border-radius:12px;
background:rgba(255,255,255,0.05);
border:2px solid rgba(13, 110, 253, 0.941);
color:white;
font-weight:500;
letter-spacing:1px;
cursor:pointer;
transition:all 0.35s ease;

}

.skill{
font-size:18px;
margin:0;
}

.skill-box:hover{
transform:translateY(-8px) scale(1.07);
background:linear-gradient(135deg,#4facfe,#00f2fe);
box-shadow:0 10px 35px rgba(0,0,0,0.5);
}
.skill-box:hover .skill{
color:white;
font-weight:600;
}
.skill-line{
background:linear-gradient(90deg,#4facfe,#00f2fe);
height:3px;
border:none;
margin-top:60px;
}
.skill-box:nth-child(1):hover{background:linear-gradient(135deg,#ff9a9e,#fad0c4);}
.skill-box:nth-child(2):hover{background:linear-gradient(135deg,#ff9966,#ff5e62);}
.skill-box:nth-child(3):hover{background:linear-gradient(135deg,#36d1dc,#5b86e5);}
.skill-box:nth-child(4):hover{background:linear-gradient(135deg,#11998e,#38ef7d);}
.skill-box:nth-child(5):hover{background:linear-gradient(135deg,#fc466b,#3f5efb);}
.skill-box:nth-child(6):hover{background:linear-gradient(135deg,#f7971e,#ffd200);}
.skill-box:nth-child(7):hover{background:linear-gradient(135deg,#00c6ff,#0072ff);}
.skill-box:nth-child(8):hover{background:linear-gradient(135deg,#7f00ff,#e100ff);}