.form-control{
    border-radius: 20px;
    border: 1px solid #019EF4;
}
.submit{
    height: 40px;
    padding: 3px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    color:#BDFFFF;
    background: linear-gradient(to right,#01A0F5,#00C3FE);
}
.Signin{
    color: #00C3FE;
    cursor: pointer;
    border: none;
    background-color: white;
}
.tweetbtn{
  height: 30px;
  width: 20%;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    color:#BDFFFF;
    background: linear-gradient(to right,#01A0F5,#00C3FE);
}