 *{
  margin: 0px;
  padding: 0px;
 }
 body{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .count{
  font-size: 60px;
 }
 .card{
  background-color: antiquewhite;
  margin: 10px;
 }
 .title{
  font-size: 20px;
 }